html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #efefefff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #134f5cff;
    font-size: 30px;
}

h2 {
    color: black;
    font-size: 18px;
}

label {
    color: #737373;
    font-weight: bold;
}

button, .button {
    border-radius: 5px;
    background-color:#efefefff;
    color: black;
    border: solid 2px black;
}

.call-to-action {
    background-color: #e69138ff;
    font-weight: bold;
    padding: 5px 10px;
}

.error-msg {
    font-size: 14px;
    color: red;
    font-style: italic;
}