html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #efefefff;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    /* sticky navbar adjustment */
    margin-top: 30px;
}

h1 {
    color: #134f5cff;
    font-size: 30px;
    font-weight: bold;
}

h2 {
    color: black;
    font-size: 18px;
}

label {
    color: #737373;
    font-weight: bold;
}

button, .button {
    border-radius: 5px;
    background-color:#efefefff;
    color: black;
    border: solid 2px black;
}

button:hover, .button:hover {
    border-radius: 5px;
    background-color:rgb(218, 218, 218);
    color: black;
    border: solid 2px black;
}

.call-to-action {
    background-color: #e69138ff;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px 10px;
}

.call-to-action:hover {
    background-color: rgb(206, 133, 54);
    font-weight: bold;
    padding: 5px 10px;
}

.call-to-action:disabled {
    background-color: rgb(231, 177, 119);
    color: gray;
    border: solid 2px gray;
}

.danger {
    background-color: #cc0000ff;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px 10px;
}

.danger:hover {
    background-color: #b70000ff;
    font-weight: bold;
    padding: 5px 10px;
}

.corner-btn {
    font-size: 70%;
    border: 1.5px solid black;
    position: absolute;
    right: 10px;
}

.corner-btn:hover, .corner-btn:active {
    border: 1.5px solid black;
}

.no-underline {
    text-decoration: none;
  }
  
.error-msg {
    font-size: 14px;
    color: red;
    font-style: italic;
}

/* used for text fields that are expected to be longer */
.half-width {
    width: 50%;
}

img {
    border: solid 2px black;
    border-radius: 5px;
}

.back-button {
    font-size: 70%;
    display: block;
    text-align: left;
    margin: 10px 0;
}

.signUpContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* This is to make the display name field appear the same as other input fields */
#nameField {
    border: 1px solid gray;
    border-radius: 2px;
    padding: 2px;
}