main {
    width: 100vw;
}
.bannerSection, .listingsSection {
    padding: 20px;
    display: grid;
    justify-items: center;
}

.bannerSection {
    background-color: white;
}

.listingsSection {
    background-color: #efefefff;
}