.gridContainer {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: "aside content";
}

.aside, .content {
    height: 100vh;
    padding: 20px;
}

.aside {
    grid-area: aside;
    background-color: white;
    text-align: center;
}

.content {
    grid-area: content;
    background-color: #efefefff;
    padding: 20px 40px;
    text-align: start;
}