.gridContainer {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: "aside content";
}

.aside, .content {
    height: 100vh;
    padding: 20px;
}

.aside {
    grid-area: aside;
    background-color: white;
    text-align: center;
}

.content {
    grid-area: content;
    background-color: #efefefff;
    padding: 20px 40px;
    text-align: start;
}

.cardContainer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.cardImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column; /* Makes children stack vertically */
    /* height: 100vh;  */
    max-width: 22%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }