.navbar {
    background-color: #134f5c;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.searchContainer {
    flex: 1 1 auto;
    display: flex;
    margin: 0 20px;
}

.searchInput {
    width: 100%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.navLinks {
    display: flex;
    align-items: center;
}

.navButton {
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-left: 20px;
    text-decoration: none;
}

.profileDropdown {
    margin-left: 20px;
}

.profilePic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

.dropdownMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 4px;
    background-color: #134f5c;
    border-radius: 10px;
    padding: 5px 10px;;
}

.dropdownButton {
    padding: 10px 25px;
    color: white;
    text-decoration: none;
    text-align: left;
    font-weight: bold;
    font-size: 14.5px;
    background-color: #2690a0;
    border: none;
    border-radius: 15px;
    margin: 5.5px 0;
}

.dropdownButton:hover {
    background-color: #81b6c2;
    border: none;
    color: white;
    border-radius: 15px;
    /* I needed to repeat some of this code because of the logout button which is a button instead of a link */
}

.dropdownMenu hr {
    margin: 5px 0;
}

.searchButton {
    background-color: #2690a0;
    color: white;
    border: none;
    padding: 5px 15px;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.searchButton:hover {
    background-color: #1b6f84;
    border: none;
    color: white;
}

.searchButton:disabled {
    background-color: #7a9a9f;
    cursor: not-allowed;
}
