/* CSS STYLES FOR PROFILE PAGE */
.gridContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "aside content";
}

.aside, .content {
    height: 100vh;
    padding: 20px;
}

.aside {
    grid-area: aside;
    background-color: white;
    text-align: center;
}

.content {
    grid-area: content;
    background-color: #efefefff;
    padding: 20px 40px;
    text-align: start;
}

/* pfp stuff */
.profilePic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid #134f5cff;
    object-fit: cover;
    margin-bottom: 20px;
}

.profileData {
    text-align: left;
    color: #737373;
}

.ratingBox {
    background-color: #e69138ff;
    border: solid 2px black;
    border-radius: 10px;
    display: inline-block;
    padding: 20px 50px;
    font-size: 25px;
    font-weight: bold;
}